* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .headbar {
    height: 70px;
    background-color: #41403F;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
  
  }
  .left_headbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
  }
  .logo {
      width: 25px;
      height: 25px;
      
  }
  .nav_link {
      width:500px;
      display: flex;
      justify-content: space-around;
  }
  .button {
      text-decoration: none;
      color:white;
  }